.profile {
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}
.prfile_link {
    color: #fff;
    font-size: 20px;
}
.prfile_link:hover {
    text-decoration: underline; 
}